@import '../../styles/variables';
@import '../../styles/mixin';

.section {
    display: flex;
    background-color: $white;
    @include shadow();

    &-image {
        height: 440px;
        width: auto;
    }

    &-container {
        margin-top: 32px;
        margin-left: 2rem;
        .title {
            font-size: 22px;
            font-weight: 400;
            line-height: 27px;
        
            &-highlight {
                display: block;
                font-family: $font-title-highlight;
                font-style: normal;
                font-weight: 900;
                font-size: 42px;
                line-height: 48px;
            }
        }

        .list {
            padding: 0;

            &-item {
                display: flex;
                align-items: center;
                font-size: 22px;
                line-height: 27px;
                margin-top: 32px;

                &::before {
                    content:  url(/src/assets/marcador.svg);
                    padding-right: 1rem;
                }
            }
        }
    }
}



