@import './styles/variables';

html {
    box-sizing: border-box;
}

body {
    background-color: $gray;
    background-image: url('/src/assets/detalhe-fundo.svg'),
        repeating-linear-gradient(
        90deg,
        $gray,
        $gray 40px,
        $dark-gray 40px,
        $white 42px
    );
    background-repeat: no-repeat;
    background-position: top center;
    color: $black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 2rem;
    min-width: 320px;

    @media (min-width: $tablet-md ) {
        background-position: top right -20%;
        width: 90%;
        margin: 0 auto;
    }

    @media (min-width: $desktop-lg ) {
        max-width: 1400px;
    }
}